@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');  
 body { font-family: "Poppins", sans-serif; 
background-color: oklch(0.967 0.003 264.542);
}
 .bg-primary{
    background-color: #F7FAFE;
 }
 .text-primary{
    color:#0069B8;
 }
 .loader {
   width: 220px;
   height: 18px;
   border: 1px solid #0069B8; /* Border with desired color */
   border-radius: 20px;
   background:
   linear-gradient(#0069B8 0 0) 0/0% no-repeat
   white;
   animation: l2 2s infinite steps(10);
}

@keyframes l2 {
   100% {background-size:110%}
}